/*----------------Main div----------*/

.distContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70vh;
  gap: 40px;
  margin-top: 13vh;
}

/*----------------Selector----------*/

.distSelector {
  display: flex;
  gap: 20px;
}

/*----------------Input----------*/

.distValue {
  display: flex;
  gap: 20px;
}

.distValue2 {
  display: flex;
}

.distValue2 input {
  border: none;
  background: none;
}

.outputValue {
  color: rgb(94 234 212);
}

.fontColor {
  color: black;
}
